studiotools:
  name: Studio Tools
  show: false
  env:
    MODE: pub
    GSCODEBASE: '//scholar/pipeline'
    PYTHONPATH: '%GSBRANCH%/gs/python;%GSCODEBASE%/lib/python'
  versions:
    '1.0':
      path:
        linux: /
        mac: /
        win32: /
aftereffects:
  show: true
  tasks:
  - edit
  - grade
  - conform
  - mix
  versions:
    'CC 2014':
      name: After Effects CC 2014
      env:
        ST_AE: 'CC 2014'
      modes:
        ui:
          linux: /
          mac: /
          win32: AfterFX.exe
        render:
          linux: /
          mac: /
          win32: aerender.exe
      path:
        linux: /
        mac: /
        win32: 'C:\Program Files\Adobe\Adobe After Effects CC 2014\Support Files'
    'CC 2015':
      name: After Effects CC 2015
      env:
        ST_AE: 'CC 2015'
      modes:
        ui:
          linux: /
          mac: /
          win32: AfterFX.exe
        render:
          linux: /
          mac: /
          win32: aerender.exe
      path:
        linux: /
        mac: /
        win32: 'C:\Program Files\Adobe\Adobe After Effects CC 2015\Support Files'
    'CC 2015.3':
      name: After Effects CC 2015.3
      env:
        ST_AE: 'CC 2015.3'
      modes:
        ui:
          linux: /
          mac: /
          win32: AfterFX.exe
        render:
          linux: /
          mac: /
          win32: aerender.exe
      path:
        linux: /
        mac: /
        win32: 'C:\Program Files\Adobe\Adobe After Effects CC 2015.3\Support Files'
maya:
  env:
    LM_LICENSE_FILE: '27001@laxlic01'
    AUTODESK_ADLM_THINCLIENT_ENV: '//scholar/apps/Autodesk/adlm/AdlmThinClientCustomEnv.xml'
    MAYA_STTOOLS: '%GSBRANCH%/apps/maya'
    MAYA_STTOOLS_COMMON: '%GSBRANCH%/apps/maya'
    MAYA_MODULE_PATH: '%MAYA_STTOOLS%/modules/%ST_MAYA%'
    MAYA_PLUG_IN_PATH: '%MAYA_STTOOLS%/plugins/%ST_MAYA%;//scholar/projects/%GSPROJECT%/03_production/10_pipeline/apps/maya/plug-ins'
    MAYA_PRESET_PATH: '%MAYA_STTOOLS%/presets'
    MAYA_SCRIPT_PATH: '%MAYA_STTOOLS%/scripts/mel;%MAYA_STTOOLS%/scripts/python;%MAYA_STTOOLS%/scripts/mel;%MAYA_STTOOLS%/scripts/mel/Utility;%MAYA_STTOOLS%/scripts/Modeling;%MAYA_STTOOLS%/scripts/mel/Rigging;%MAYA_STTOOLS%/scripts/mel/Modeling;%MAYA_STTOOLS%/scripts/mel/Scholar;//scholar/projects/%GSPROJECT%/03_production/10_pipeline/apps/maya/scripts'
    MAYA_SHELF_PATH: '%MAYA_STTOOLS%/shelves/%ST_MAYA%;//scholar/projects/%GSPROJECT%/03_production/10_pipeline/apps/maya/shelves/%ST_MAYA%'
    XBMLANGPATH: '%MAYA_STTOOLS%/icons;//scholar/projects/%GSPROJECT%/03_production/10_pipeline/apps/maya/icons'
    PYTHONPATH: '%GSROOT%/lib/python;%MAYA_STTOOLS%/scripts/python;%GSBRANCH%/gs/python;//scholar/projects/%GSPROJECT%/03_production/10_pipeline/apps/maya/scripts'
  show: true
  versions:
    '2015':
      name: Autodesk Maya
      env:
        GS_MAYA_AUTOLOAD: 'AbcImport;AbcExport;objExport;OneClick;tiffFloatReader;Unfold3D;fbxmaya'
        ST_MAYA: '2015'
        ST_MAYA_DIR: C:/Program Files/Autodesk/Maya/%ST_MAYA%.0.5
      modes:
        ui:
          linux: /
          mac: /
          win32: maya.exe -noAutoloadPlugins -proj "//scholar/projects/%GSPROJECT%/03_production/01_cg/01_MAYA"
        render:
          linux: /
          mac: /
          win32: render.exe
        cli:
          linux: /
          mac: /
          win32: mayabatch.exe -prompt
      path:
        linux: /
        mac: /
        win32: C:/Program Files/Autodesk/Maya/2015.0.5/bin
    '2016.5':
      name: Autodesk Maya
      env:
        GS_MAYA_AUTOLOAD: 'AbcImport;AbcExport;OneClick;objExport;tiffFloatReader;Unfold3D;fbxmaya;stereoCamera;Type'
        MAYA_STTOOLS_VERSIONED: '%GSROOT%/maya/%ST_MAYA%x64'
        ST_MAYA: '2016.5'
        ST_MAYA_DIR: C:/Program Files/Autodesk/Maya/%ST_MAYA%.1
        MAYA_DISABLE_CLIC_IPM: '1'
      modes:
        ui:
          linux: /
          mac: /
          win32: maya.exe -noAutoloadPlugins -proj "//scholar/projects/%GSPROJECT%/03_production/01_cg/01_MAYA"
        render:
          linux: /
          mac: /
          win32: render.exe
        cli:
          linux: /
          mac: /
          win32: mayabatch.exe -prompt
      path:
        linux: /
        mac: /
        win32: C:/Program Files/Autodesk/Maya/2016.5.1/bin
    '2017':
      name: Autodesk Maya
      env:
        GS_MAYA_AUTOLOAD: 'AbcImport;AbcExport;objExport;OneClick;tiffFloatReader;Unfold3D;fbxmaya;stereoCamera;Type'
        MAYA_STTOOLS_VERSIONED: '%GSROOT%/maya/%ST_MAYA%x64'
        ST_MAYA: '2017'
        ST_MAYA_DIR: C:/Program Files/Autodesk/Maya/%ST_MAYA%.0.3
        MAYA_DISABLE_CLIC_IPM: '1'
      modes:
        ui:
          linux: /
          mac: /
          win32: maya.exe -noAutoloadPlugins -proj "//scholar/projects/%GSPROJECT%/03_production/01_cg/01_MAYA"
        render:
          linux: /
          mac: /
          win32: render.exe
        cli:
          linux: /
          mac: /
          win32: mayabatch.exe -prompt
      path:
        linux: /
        mac: /
        win32: C:/Program Files/Autodesk/Maya/2017.0.3/bin
  tasks:
  - model
  - shade
  - rig
  - anim
  - effects
  - cloth
  - hair
  - muscle
  - light
softimage:
  env:
    ST_XSI_WORKGRP: '%GSBRANCH%/apps/softimage/common'
    XSI_HOME: '%SI_HOME%'
    XSI_BINDIR: '%XSI_HOME%/Application/bin'
    XSI_PLUGINS: '%GSBRANCH%/apps/softimage/common'
  show: true
  versions:
    '2014':
      name: Autodesk Softimage XSI
      env:
        ST_SOFTIMAGE: '2012SP2'
        XSI_PLUGINS: '%GSBRANCH%/apps/softimage/si_2014__sitoa350;%GSBRANCH%/apps/softimage/si_2014__alembic'
        SI_HOME: 'C:/Program Files/Autodesk/Softimage 2014 SP2/Application/bin'
      modes:
        ui:
          linux: /
          mac: /
          win32:  'xsi.exe'
      path:
        linux: /
        mac: /
        win32: C:/Program Files/Autodesk/Softimage 2014 SP2/Application/bin
    '2015':
      name:  Autodesk Softimage XSI
      env:
        ST_SOFTIMAGE: '2015'
        SI_HOME: 'C:/Program Files/Autodesk/Softimage 2015/Application/bin'
      modes:
        ui:
          linux: /
          mac: /
          win32: 'xsi.exe'
      path:
        linux: /
        mac: /
        win32: C:/Program Files/Autodesk/Softimage 2015/Application/bin
  tasks:
  - model
  - shade
  - rig
  - anim
  - effects
  - cloth
  - hair
  - muscle
  - light
nuke:
  env:
    RLM_LICENSE: '4101@laxlic01'
    NUKE_PATH: '//scholar/projects/%GSPROJECT%/03_production/10_pipeline/apps/nuke/startup;%GSBRANCH%/apps/nuke/startup'
    NUKE_DISK_CACHE: 'C:/Temp/Nuke_Cache'
    NUKE_TEMP_DIR: 'C:/Temp/Nuke_Cache'
    PYTHONPATH: '%GSBRANCH%/apps/nuke/scripts/python'
  show: true
  tasks:
  - comp
  - light
  - grade
  - track
  - roto
  versions:
    '10.0v5':
      name: Nuke
      env:
        ST_NUKE: '10.0'
      modes:
        ui:
          linux: /
          mac: /
          win32: Nuke10.0.exe
        cli:
          linux: /
          mac: /
          win32: Nuke10.0.exe
        render:
          linux: /
          mac: /
          win32: Nuke10.0.exe
        x:
          linux: /
          mac: /
          win32: Nuke10.0.exe --nukex
        studio:
          linux: /
          mac: /
          win32: Nuke10.0.exe --studio
        assist:
          linux: /
          mac: /
          win32: Nuke10.0.exe --nukeassist
      path:
        linux: /
        mac: /
        win32: C:/Program Files/Foundry/Nuke/10.0v5
    '9.0v7':
      name: Nuke
      env:
        ST_NUKE: '9.0'
      modes:
        ui:
          linux: /
          mac: /
          win32: Nuke9.0.exe
        cli:
          linux: /
          mac: /
          win32: Nuke9.0.exe
        render:
          linux: /
          mac: /
          win32: Nuke9.0.exe
        x:
          linux: /
          mac: /
          win32: Nuke9.0.exe --nukex
        studio:
          linux: /
          mac: /
          win32: Nuke9.0.exe --studio
        assist:
          linux: /
          mac: /
          win32: Nuke9.0.exe --nukeassist
      path:
        linux: /
        mac: /
        win32: C:/Program Files/Foundry/Nuke/9.0v7
premiere:
  show: true
  tasks:
  - edit
  - grade
  - conform
  - mix
  versions:
    'CC 2015.3':
      name: Premiere
      modes:
        ui:
          linux: /
          mac: /
          win32: Adobe Premiere Pro.exe
      path:
        linux: /
        mac: /
        win32: C:/Program Files/Adobe/Adobe Premiere Pro CC 2015.3
hiero:
  name: Hiero
  show: true
  env:
    HIERO_PLUGIN_PATH: '%GSBRANCH%/apps/hiero'
  tasks:
  - edit
  - grade
  - conform
  versions:
    '1.7v2':
      modes:
        ui:
          linux: /
          mac: /
          win32: hiero.exe
      path:
        linux: /
        mac: /
        win32: C:/Program Files/The Foundry/Hiero1.7v2
    '1.8v2':
      modes:
        ui:
          linux: /
          mac: /
          win32: hiero.exe
      path:
        linux: /
        mac: /
        win32: C:/Program Files/The Foundry/Hiero1.8v2
photoshop:
  show: true
  tasks:
  - design
  - shade
  - light
  - comp
  versions:
    'CC 2015.5':
      name: Photoshop CC 2015.5
      env:
        ST_PS: 'CC 2015.5'
      modes:
        ui:
          linux: /
          mac: /
          win32: Photoshop.exe
      path:
        linux: /
        mac: /
        win32: 'C:/Program Files/Adobe/Adobe Photoshop CC 2015.5'
illustrator:
  show: true
  tasks:
  - design
  - light
  versions:
    'CC 2015.3':
      name: Illustrator CC 2015.3
      env:
        ST_PS: 'CC 2015.3'
      modes:
        ui:
          linux: /
          mac: /
          win32: illustrator.exe
      path:
        linux: /
        mac: /
        win32: 'C:/Program Files/Adobe/Adobe Illustrator CC 2015.3'
indesign:
  show: true
  tasks:
  - design
  - light
  versions:
    'CC 2015':
      name: InDesign CC 2015
      env:
        ST_PS: 'CC 2015'
      modes:
        ui:
          linux: /
          mac: /
          win32: indesign.exe
      path:
        linux: /
        mac: /
        win32: 'C:/Program Files/Adobe/Adobe In Design CC 2015'
animate:
  show: true
  tasks:
  - design
  versions:
    'CC 2015.2':
      name: Animate CC 2015.2
      env:
        ST_PS: 'CC 2015.2'
      modes:
        ui:
          linux: /
          mac: /
          win32: animate.exe
      path:
        linux: /
        mac: /
        win32: 'C:/Program Files/Adobe/Adobe Animate CC 2015.2'
zbrush:
  show: true
  tasks:
  - design
  - model
  versions:
    '4R7':
      name: ZBrush 4R6
      env:
        ST_ZB: '4R7'
      modes:
        ui:
          linux: /
          mac: /
          win32: ZBrush.exe
      path:
        linux: /
        mac: /
        win32: 'C:/Program Files (x86)/Pixologic/ZBrush 4R7'
cinema4d:
  show: true
  tasks:
  - design
  - model
  env:
    C4D_PLUGINS_DIR: '%GSROOT%/base/apps/cinema4d/scripts/python'
    C4D_BROWSERLIBS: '%GSROOT%/bin/external/cinema4d/browserlib/%ST_C4D%'
  versions:
    'R18':
      name: Cinema 4D
      env:
        ST_C4D: 'R18'
      modes:
        ui:
          linux: /
          mac: /
          win32: 'CINEMA 4D.exe'
        cli:
          linux: /
          mac: /
          win32: 'Commandline.exe'
        render:
          linux: /
          mac: /
          win32: 'Commandline.exe'
      path:
        linux: /
        mac: /
        win32: 'C:\Program Files\Maxon\Cinema4D\R18.020'
    'R17':
      name: Cinema 4D
      env:
        ST_C4D: 'R17'
      modes:
        ui:
          linux: /
          mac: /
          win32: 'CINEMA 4D.exe'
        cli:
          linux: /
          mac: /
          win32: 'Commandline.exe'
        render:
          linux: /
          mac: /
          win32: 'Commandline.exe'
      path:
        linux: /
        mac: /
        win32: 'C:\Program Files\Maxon\Cinema4D\R17.048'
modo:
  show: true
  tasks:
  - design
  - model
  env:
    RLM_LICENSE: '4101@laxlic01'
  versions:
    '901_SP2':
      name: Modo
      env:
        NEXUS_ASSET: '%GSROOT%bin/external/modo/modo_contnent/901/assets'
        NEXUS_CONTENT: '%GSROOT%bin/external/modo/modo_content/901'
      modes:
        ui:
          linux: /
          mac: /
          win32: modo.exe
        cli:
          linux: /
          mac: /
          win32: modo_cl.exe
        render:
          linux: /
          mac: /
          win32: modo_cl.exe
      path:
        linux: /
        mac: /
        win32: 'C:\Program Files\Foundry\Modo\901_SP2'
mari:
  show: true
  tasks:
  - design
  - texture
  env:
        RLM_LICENSE: '4101@laxlic01'
        MARI_SCRIPT_PATH: '%GSROOT%/base/apps/mari/scripts'
  versions:
    '3.1v3':
      name: Mari
      modes:
        ui:
          linux: /
          mac: /
          win32: Mari3.1v3.exe
      path:
        linux: /
        mac: /
        win32: 'C:\Program Files\Foundry\Mari\3.1v3\Bundle\bin'
    '3.0v3':
      name: Mari
      modes:
        ui:
          linux: /
          mac: /
          win32: Mari3.0v3.exe
      path:
        linux: /
        mac: /
        win32: 'C:\Program Files\Foundry\Mari\3.0v3\Bundle\bin'
    '2.6v5':
      name: Mari
      modes:
        ui:
          linux: /
          mac: /
          win32: Mari2.6v5.exe
      path:
        linux: /
        mac: /
        win32: 'C:\Program Files\Foundry\Mari\2.6v5\Bundle\bin'
mudbox:
  show: true
  env:
    AUTODESK_ADLM_THINCLIENT_ENV: '//scholar/apps/Autodesk/adlm/AdlmThinClientCustomEnv.xml'
    LM_LICENSE_FILE: 'laxlic01'
  tasks:
  - design
  - texture
  versions:
    '2016':
      name: Mudbox
      modes:
        ui:
          linux: /
          mac: /
          win32: mudbox.exe
      path:
        linux: /
        mac: /
        win32: 'C:\Program Files\Autodesk\Mudbox\2016.0.0'
    '2015':
      name: Mudbox
      modes:
        ui:
          linux: /
          mac: /
          win32: mudbox.exe
      path:
        linux: /
        mac: /
        win32: 'C:\Program Files\Autodesk\Mudbox\2015.0.0'
3dsmax:
  show: true
  env:
    PYTHONPATH: '%GSBRANCH%/apps/3dsmax/scripts;%GSBRANCH%/apps/3dsmax/scripts/python;%GSBRANCH%/gs/python'
    AUTODESK_ADLM_THINCLIENT_ENV: '//scholar/apps/Autodesk/adlm/AdlmThinClientCustomEnv.xml'
    LM_LICENSE_FILE: 'laxlic01'
  tasks:
  - design
  - texture
  versions:
    '2016':
      name: 3D Studio
      modes:
        ui:
          linux: /
          mac: /
          win32: 3dsmax.exe
      path:
        linux: /
        mac: /
        win32: 'C:\Program Files\Autodesk\3dsMax\2016.0.0'
houdini:
  env:
    PYTHONPATH: '%GSBRANCH%/gs/python;%GSROOT%/lib/python'
    JOB: "//scholar/projects/%GSPROJECT%/03_production/01_cg/04_houdini"
  show: true
  tasks:
  - fx
  - light
  - anim
  versions:
    '15.5.607':
      name: Houdini
      env:
        ST_HOU: '15.5.607'
      modes:
        ui:
          linux: /
          mac: /
          win32: hindie.exe
        indie:
          linux: /
          mac: /
          win32: hindie.exe
        apprentice:
          linux: /
          mac: /
          win32: happrentice.exe.exe
        fx:
          linux: /
          mac: /
          win32: houdinifx.exe
        escape:
          linux: /
          mac: /
          win32: hescape.exe
        cli:
          linux: /
          mac: /
          win32: hbatch.exe
      path:
        linux: /
        mac: /
        win32: 'C:/Program Files/Side Effects Software/Houdini 15.5.607/bin'