frame_padding: 5
frame_delimiter: '.'
version_prefix: 'v'
version_incr: 1
version_padding: 3
stages:
  - pitch
  - previs
  - production
departments:
- admin
- design
- producer
- 3d_production
- 2d_production
- compositing
- edit
tasks:
- edit
- model
- camera
- animation
- lighting
- composite
- conform
status:
- 'ready'
- 'not started'
- 'in progress'
- 'finished'
- 'cbb'
- 'approved'
- 'on hold'
- 'dead'
# generic defined variables that can be substituted below by wrapping in %% characters
path_vars:
  project_root: "<server>/projects/<job>"
lib_templates:
  'asset_lib_2d':
    root_path: "<server>/projects/<job>/03_production/00_elements"
  'shot_lib_2d':
    root_path: "<server>/projects/<job>/03_production/02_composite"
  'asset_lib_3d':
    root_path: "<server>/projects/<job>/03_production/01_cg/01_MAYA/scenes/01_cg_elements/01_models"
  'shot_lib_3d':
    root_path: "<server>/projects/<job>/03_production/01_cg/01_MAYA/scenes/02_cg_scenes"
# defines template paths that can be inherited to task_structs, this saves space with common paths
asset_templates:
  'shot_2d':
    display_name: 'Comp'
    lib_path: "<server>/projects/<job>/03_production/02_composite"
    root_path: "<server>/projects/<job>/03_production/02_composite/<sequence>/<shot>"
    publish_path: "%root_path%"
    private_path: "%root_path%/work_<username>"
    work_path: "%root_path%"
    work_file: "<sequence>_<shot>_<task>_<version>.<ext>"
    out_render_path: "<server>/projects/<job>/<stage>/renders/<sequence>/<shot>/<task>/<version>"
    out_render_file: "<shot>_<task>_<version>_<initials>.<ext>"
    qualifier_path: '00_nuke' # qualifies if path contains this subfolder
  #'asset_2d':
  #  display_name: 'Elements'
  #  lib_path: "<server>/projects/<job>/03_production/00_elements"
  #  root_path: "<server>/projects/<job>/03_production/00_elements/<asset_group>/<asset>"
  #  publish_path: "%root_path%"
  #  private_path: "%root_path%/<asset_group>/<asset>/work_<username>"
  #  work_path: "%root_path%"
  #  work_file: "<sequence>_<shot>_<task>_<version>.<ext>"
  #  out_render_path: "<server>/projects/<job>/<stage>/renders/<sequence>/<shot>/<task>/<version>"
  #  out_render_file: "<asset>_<version>.<ext>"
  'shot_3d':
    display_name: 'CG'
    lib_path: "<server>/projects/<job>/03_production/01_cg/01_MAYA/scenes/02_cg_scenes"
    root_path: "<server>/projects/<job>/03_production/01_cg/01_MAYA/scenes/02_cg_scenes/<shot>"
    work_path: "%root_path%"
    work_file: "<shot>_<cversion>_<aversion>_<lversion>_<initials>.<ext>"
    publish_path: "%work_path%"
    publish_file: "%work_file%"
    private_path: "%work_path%/_scrap"
    private_file: "%work_file%"
    cache_path: "%work_path%/_cache"
    cache_file: "%work_file%"
    renderscene_path: "%root_path%/mustache_renderScenes"
    renderscene_file: "<shot>_<cversion>_<aversion>_<lversion>_<initials>_T_<stime>.<ext>"
    render_path: "<server>/projects/<job>/03_production/01_cg/01_MAYA/images/<shot>/%work_file%/<renderlayer>"
    render_file: "<shot>_<cversion>_<aversion>_<lversion>_<initials>_<renderlayer>.<frame>.<ext>"
    qualifier_path: 'animation' # qualifies if path contains this subfolder
  'asset_3d':
    display_name: 'Assets'
    lib_path: "<server>/projects/<job>/03_production/01_cg/01_MAYA/scenes/01_cg_elements/01_models"
    root_path: "<server>/projects/<job>/03_production/01_cg/01_MAYA/scenes/01_cg_elements/01_models/<asset>"
    work_path: "%root_path%"
    #work_file: "<asset>_<version>_<intials>.<ext>"
    publish_path: "%root_path%"
    publish_file: "<asset>.<ext>"
    private_path: "%root_path%/_scrap"
    private_file: "%work_file%"
    cache_path: "%root_path%/_cache"
    cache_file: <publish_file>
    renderscene_path: "%root_path%/mustache_renderScenes"
    renderscene_file: "<asset>_<version>_T_<stime>"
    render_path: "<server>/projects/<job>/03_production/01_cg/01_MAYA/images/assets/<asset>"
    render_file: "<asset>_<version>.<ext>"
    qualifier_path: '_versions'

# Defines file locations specific to tasks
task_templates: 
  'design':
    root_path: "<server>/projects/<job>/02_design"
    work_path: "%root_path%/work.<initials>/02_styleframes"
    work_file: "<job>_<initials>_<frame>.<ext>"
    publish_path: "%root_path%/_publish"
    private_path: "%root_path%/work_<username>"
  'edit':
    root_path: "<server>/projects/<job>/03_production/03_edit"
    publish_path: "%root_path%/_publish"
    private_path: "%root_path%/work_<username>"
    out_file: "<job>_<task>_<version>.<ext>"
  'conform':
    root_path: "<server>/projects/<job>/03_production/02_composite/_conform"
    work_path: "%root_path%"
    work_file: "<job>_<task>_<version>.<ext>"
    publish_path: "%root_path%/_publish"
    publish_file: "%work_file%"
    private_path: "%root_path%/work_<username>"
    private_file: "%work_file%"
    render_path: "<server>/projects/<job>/04_Renders/_conform/<version>"
    render_file: "<shot>_<cversion>_<aversion>_<lversion>_<initials>_<renderlayer>.<frame>.<ext>"
  'model':
    inherits: 'asset_3d'
    work_path: "%root_path%/_versions"
    work_file: "<asset>_<version>_<intials>.<ext>"
  'cameras':
    inherits: 'shot_3d'
    work_path: "%root_path%/cameras"
    work_file: "<shot>_<version>_<aversion>_<lversion>_<initials>.<ext>"
  'animation':
    inherits: 'shot_3d'
    work_path: "%root_path%/animation"
    work_file: "<shot>_<cversion>_<version>_<lversion>_<initials>.<ext>"
  'lighting':
    inherits: 'shot_3d'
    work_path: "%root_path%/lighting"
    work_file: "<shot>_<cversion>_<aversion>_<version>_<initials>.<ext>"
  'comp':
    inherits: 'shot_2d'
    work_file: "<sequence>_<shot>_<task>_<version>.<ext>"