# project structure template
# determines how to read the file system
# <> bracketed words are template variables
# %% bracketed words are local variables for string substitution
frame_padding: 5
frame_delimiter: '.'
version_prefix: 'v'
version_incr: 1
version_padding: 3
status:
- 'waiting'
- 'ready to start'
- 'in progress'
- 'changes needed'
- 'complete'
- 'cbb'
- 'approved'
- 'on hold'
- 'dead'
# generic defined variables that can be substituted below by wrapping in %% characters

# need a way to explicitly mark a stage as such, but also to capture that stage name
path_vars:
  project_root: '<server>/projects/<job>'

project_templates:
    'basic':
        display_name: 'GS 2018 Project'
        pattern: '(?P<server>)/(?P<share>projects)/(?P<job>)'
        match_path: '<server>/projects/<job>'
        capture_path: '<server>/<share>/<job>'
        copy_tree: '<server>/projects/_templates/project_template_2018/job_basic'
stage_templates:
    'pitch':
        display_name: 'Pitch'
        pattern: '(?P<server>)/(?P<share>projects)/(?P<job>)/(?P<stage>pitch)'
        match_path: '<server>/projects/<job>/pitch'
        capture_path: '<server>/<share>/<job>/<stage>'
        copy_tree: '<server>/projects/_templates/project_template_2018/stage_basic'
    'previs':
        display_name: 'Previs'
        match_path: '<server>/projects/<job>/previs'
        capture_path: '<server>/<share>/<job>/previs'
        copy_tree: '<server>/projects/_templates/project_template_2018/stage_basic'
    'production':
        display_name: 'Production'
        match_path: '<server>/projects/<job>/production'
        capture_path: '<server>/<share>/<job>/<stage>'
        copy_tree: '<server>/projects/_templates/project_template_2018/stage_basic'

# defines template paths that can be inherited to task_structs, this saves space with common paths
asset_templates:
  'asset_2d':
    display_name: 'Elements'
    display_order: 3
    match_path: '<server>/<share>/<job>/<stage>/assets/<asset_grp>/<asset>'
    capture_path: '<server>/projects/<job>/<stage>/assets/<asset_grp>/<asset>'
    lib_path: '<server>/projects/<job>/production/assets'
    copy_tree: '<server>/projects/_templates/project_template_2018/asset_basic'
    default_tasks: ''
    qualifier_path: '.info' # qualifies if path contains this subfolder
    ignore_path: ''
  'shot':
    display_name: 'Shots'
    display_order: 2
    match_path: '<server>/<share>/<job>/<stage>/shots/<asset_grp>/<asset>'
    capture_path: '<server>/<share>/<job>/<stage>/shots/<asset_grp>/<asset>'
    lib_path: '<server>/<share>/<job>/<stage>/shots'
    copy_tree: '<server>/projects/_templates/project_template_2018/asset_basic'
    default_tasks: 'anim,light,comp'
    qualifier_path: '.info' # qualifies if path contains this subfolder
    ignore_path: ''
  'asset_3d':
    display_name: 'Assets'
    display_order: 1
    match_path: '<server>/<share>/<job>/<stage>/assets/3d/<asset_grp>/<asset>'
    capture_path: '<server>/<share>/<job>/<stage>/assets/3d/<asset_grp>/<asset>'
    lib_path: '<server>/<share>/<job>/<stage>/assets/3d'
    copy_tree: '<server>/projects/_templates/project_template_2018/asset_basic'
    default_tasks: 'model,rig,lookdev'
    qualifier_path: '.info' # qualifies if path contains this subfolder
    ignore_path: ''

# Defines file locations specific to tasks, %parent_path% is a defined by asset_templates 

# to find the task of a given path we must build our master list of match_paths and capture_paths (for each asset_type append each task)
task_templates: 
  'conform':
    display_name: 'Conform'
    display_order: 1
    match_path: '<server>/<share>/<job>/<stage>/edit/_conform'
    capture_path: '<server>/<share>/<job>/<stage>/edit/_<task>'
    copy_tree: '<server>/assets/templates/project_template_2018/task_basic'
    package_root: '%match_path%'
    publish_path: '%match_path%/_publish'
    render_path: '<server>/projects/<job>/production/render/_conform/<version>'
    render_file: '<shot>_<cversion>_<aversion>_<lversion>_<initials>_<renderlayer>.<frame>.<ext>'
    default_package: 'maya'
  'model':
    display_name: 'Model'
    display_order: 1
    match_path: '%task_root%/model'
    capture_path: '%task_root%/<task>'
    copy_tree: '<server>/assets/templates/project_template_2018/task_basic'
    package_root: '%match_path%'
    publish_path: '%task_root%/_publish'
    default_package: 'maya'
  'rig':
    display_name: 'Rig'
    display_order: 2
    match_path: '%task_root%/rig'
    capture_path: '%task_root%/<task>'
    copy_tree: '<server>/assets/templates/project_template_2018/task_basic'
    package_root: '%match_path%'
    publish_path: '%task_root%/_publish'
    default_package: 'maya'
  'lookdev':
    display_name: 'LookDev'
    display_order: 3
    match_path: '%task_root%/lookdev'
    capture_path: '%task_root%/<task>'
    copy_tree: '<server>/assets/templates/project_template_2018/task_basic'
    package_root: '%match_path%'
    publish_path: '%task_root%/_publish'
    default_package: 'maya'
  'anim':
    display_name: 'Anim'
    display_order: 1
    match_path: '%task_root%/anim'
    capture_path: '%task_root%/<task>'
    copy_tree: '<server>/assets/templates/project_template_2018/task_basic'
    package_root: '%match_path%'
    publish_path: '%task_root%/_publish'
    default_package: 'maya'
  'effects':
    display_name: 'Effects'
    display_order: 2
    match_path: '%task_root%/effects'
    capture_path: '%task_root%/<task>'
    copy_tree: '<server>/assets/templates/project_template_2018/task_basic'
    package_root: '%match_path%'
    publish_path: '%task_root%/_publish'
    default_package: 'maya'
  'light':
    display_name: 'Light'
    display_order: 3
    match_path: '%task_root%/light'
    capture_path: '%task_root%/<task>'
    copy_tree: '<server>/assets/templates/project_template_2018/task_basic'
    package_root: '%match_path%'
    publish_path: '%task_root%/_publish'
    default_package: 'maya'
  'comp':
    display_name: 'Comp'
    display_order: 4
    match_path: '%task_root%/comp'
    capture_path: '%task_root%/<task>'
    copy_tree: '<server>/assets/templates/project_template_2018/task_basic'
    package_root: '%match_path%'
    publish_path: '%task_root%/_publish'
    default_package: 'nuke'
  'cel':
    display_name: 'Cel'
    display_order: 0
    match_path: '%task_root%/comp'
    capture_path: '%task_root%/<task>'
    copy_tree: '<server>/assets/templates/project_template_2018/task_basic'
    package_root: '%match_path%'
    publish_path: '%task_root%/_publish'
    default_package: 'animate'
  'edit':
    display_name: 'Edit'
    display_order: 6
    match_path: '%task_root%/comp'
    capture_path: '%task_root%/<task>'
    copy_tree: '<server>/assets/templates/project_template_2018/task_basic'
    package_root: '%match_path%'
    publish_path: '%task_root%/_publish'
    default_package: 'premiere'

# defines package paths relative to the base of a task, %parent_path% is a predefined var
package_templates:
  'maya':
    capture_path: '%package_root%/<package>'
    copy_tree: '<server>/assets/templates/project_template_2018/packages/maya'
    work_path: '%root_path%/scenes'
    work_file: '<asset_grp>_<asset>_<task>_<version>.<ext>'
  'c4d':
    capture_path: '%package_root%/<package>'
    copy_tree: '<server>/assets/templates/project_template_2018/packages/c4d'
    work_path: '%package_root%/scenes'
    work_file: '<asset_grp>_<asset>_<task>_<version>.<ext>'
  'houdini':
    capture_path: '%package_root%/<package>'
    copy_tree: '<server>/assets/templates/project_template_2018/packages/houdini'
    work_path: '%root_path%'
    work_file: '<asset_grp>_<asset>_<task>_<version>.<ext>'
  'modo':
    capture_path: '%package_root%/<package>'
    copy_tree: '<server>/assets/templates/project_template_2018/packages/modo'
    work_path: '%root_path%'
    work_file: '<asset_grp>_<asset>_<task>_<version>.<ext>'
  'zbrush':
    capture_path: '%package_root%/<package>'
    copy_tree: '<server>/assets/templates/project_template_2018/packages/zbrush'
    work_path: '%root_path%'
    work_file: '<asset_grp>_<asset>_<task>_<version>.<ext>'
  'nuke':
    capture_path: '%package_root%/<package>'
    copy_tree: '<server>/assets/templates/project_template_2018/packages/nuke'
    work_path: '%root_path%'
    work_file: '<asset_grp>_<asset>_<task>_<version>.<ext>'
  'ae':
    capture_path: '%package_root%/<package>'
    copy_tree: '<server>/assets/templates/project_template_2018/packages/ae'
    work_path: '%root_path%'
    work_file: '<asset_grp>_<asset>_<task>_<version>.<ext>'
  'premiere':
    capture_path: '%package_root%/<package>'
    copy_tree: '<server>/assets/templates/project_template_2018/packages/premiere'
    work_path: '%root_path%'
    work_file: '<asset_grp>_<asset>_<task>_<version>.<ext>'


