generalist:
  title: 'Generalist'
  packages:
    maya:
      version: '2015'
      modules:
        arnold: '1.1.0.4'
        crate: '1.1.148'
        jfDielectric: '1.0.5'
        vray: '3.30.01'
        advancedSkeleton: '4.0'
    houdini:
      version: '15.5.523'
    3dsmax:
      version: '2016'
    cinema4d:
      version: 'R17.048'
    modo:
      version: '901_SP2'
    zbrush:
      version: '4R7'
    mudbox:
      version: '2016'
    mari:
      version: '2.6v5'
    nuke:
      version: '9.0v7'
    aftereffects:
      version: 'CC 2015'
    premiere:
      version: 'CC 2015'
    photoshop:
      version: 'CC 2015'
    softimage:
      version: '2014'
  order:
  - maya
  - cinema4d
  - modo
  - 3dsmax
  - zbrush
  - mudbox
  - mari
  - nuke
  - aftereffects
  - photoshop
  - premiere
  - houdini

default_2017:
  title: 'Default'
  packages:
    maya:
      version: '2017'
      modules:
        vray: '3.40.06'
    houdini:
      version: '15.5.523'
    3dsmax:
      version: '2016'
    cinema4d:
      version: 'R17.048'
    modo:
      version: '901_SP2'
    zbrush:
      version: '4R7'
    mudbox:
      version: '2016'
    mari:
      version: '2.6v5'
    nuke:
      version: '9.0v7'
    aftereffects:
      version: 'CC 2015'
    premiere:
      version: 'CC 2015.3'
    photoshop:
      version: 'CC 2015.5'
    animate:
      version: 'CC 2015.2'
    indesign:
      version: 'CC 2015'
    illustrator:
      version: 'CC 2015.3'
  display_groups:
    Design:
    - photoshop
    - illustrator
    - indesign
    - aftereffects
    - cinema4d
    - modo
    generalist:
    - maya
    - cinema4d
    - modo
    - 3dsmax
    - zbrush
    - mudbox
    - mari
    - nuke
    - aftereffects
    - photoshop
    - premiere
    - houdini-indie
    Compositing:
    - nuke
    - nuke-x
    - nuke-studio
    - aftereffects
    - premiere
    - photoshop
    2D_Production:
    - illustrator
    - aftereffects
    - premiere
    - photoshop
    - animate
    3D_Production:
    - maya
    - modo
    - houdini-indie
    - zbrush
    - mudbox
    - mari
    - nuke
    - photoshop
  order:
  - maya
  - cinema4d
  - modo
  - 3dsmax
  - zbrush
  - mudbox
  - mari
  - nuke
  - aftereffects
  - photoshop
  - premiere
  - houdini

default:
  title: 'Default'
  packages:
    maya:
      version: '2017'
      modules:
        arnold: '1.3.0.0'
        bonustools: '17.0.1'
        crate: '1.1.148'
        fracturefx: '1.9.6'
        ideform: '1.5.1'
        jfDielectric: '1.0.5'
        ornatrix: '1.1.3.9340'
        phoenixfd: '2.25.8'
        realflow: '2015.0.0.9'
        vray: '3.40.06'
        advancedSkeleton: '5.240'
        fumefx: '4.0.3'
        soup: '2016.06.01'
        zync: '1.2.5'
    houdini:
      version: '15.5.523'
    3dsmax:
      version: '2016'
    cinema4d:
      version: 'R17.048'
    modo:
      version: '901_SP2'
    zbrush:
      version: '4R7'
    mudbox:
      version: '2016'
    mari:
      version: '2.6v5'
    nuke:
      version: '9.0v7'
    aftereffects:
      version: 'CC 2015'
    premiere:
      version: 'CC 2015.3'
    photoshop:
      version: 'CC 2015.5'
    animate:
      version: 'CC 2015.2'
    indesign:
      version: 'CC 2015'
    illustrator:
      version: 'CC 2015.3'
  display_groups:
    Design:
    - photoshop
    - illustrator
    - indesign
    - aftereffects
    - cinema4d
    - modo
    generalist:
    - maya
    - cinema4d
    - modo
    - 3dsmax
    - zbrush
    - mudbox
    - mari
    - nuke
    - aftereffects
    - photoshop
    - premiere
    - houdini-indie
    Compositing:
    - nuke
    - nuke-x
    - nuke-studio
    - aftereffects
    - premiere
    - photoshop
    2D_Production:
    - illustrator
    - aftereffects
    - premiere
    - photoshop
    - animate
    3D_Production:
    - maya
    - modo
    - houdini-indie
    - zbrush
    - mudbox
    - mari
    - nuke
    - photoshop
  order:
  - maya
  - cinema4d
  - modo
  - 3dsmax
  - zbrush
  - mudbox
  - mari
  - nuke
  - aftereffects
  - photoshop
  - premiere
  - houdini

compositor:
  title: 'Compositor'
  packages:
    nuke:
      version: '9.0v7'
      mode: 'ui'
    nukex:
      version: '9.0v7'
      mode: 'nukex'
    nukestudio:
      version: '9.0v7'
      mode: 'nukestudio'
    aftereffects:
      version: 'CC 2015'
    premiere:
      version: 'CC 2015'
    photoshop:
      version: 'CC 2015'
  order:
  - nuke
  - nukex
  - nukestudio
  - aftereffects
  - premiere
  - photoshop

2dartist:
  title: '2D Artist'
  packages:
    aftereffects:
      version: 'CC 2015'
    premiere:
      version: 'CC 2015'
    photoshop:
      version: 'CC 2015'
  order:
  - aftereffects
  - premiere
  - photoshop
design:
  title: 'Designer'
  packages:
    cinema4d:
      version: 'R17'
    modo:
      version: '901_SP2'
    aftereffects:
      version: 'CC 2015'
    photoshop:
      version: 'CC 2015'
    indesign:
      version: 'CC 2015'
    illustrator:
      version: 'CC 2015'
  order:
  - photoshop
  - illustrator
  - indesign
  - aftereffects
  - cinema4d
  - modo

3dartist:
  title: '3D Artist'
  packages:
    maya:
      version: '2015'
      modules:
        arnold: '1.1.0.4'
        crate: '1.1.148'
        jfDielectric: '1.0.5'
        vray: '3.30.01'
    houdini:
      version: '15.5.523'
      mode: 'hindie'
    modo:
      version: '901_SP2'
    zbrush:
      version: '4R7'
    mudbox:
      version: '2016'
    mari:
      version: '2.6v5'
    nuke:
      version: '9.0v7'
    photoshop:
      version: 'CC 2015'
  order:
  - maya
  - modo
  - houdini
  - zbrush
  - mudbox
  - mari
  - nuke
  - photoshop
