default:
  title: 'Default Workgroup'
  packages:
    maya:
      title: 'Maya 2016'
      app: 'maya'
      version: '2016.5'
      env:
        # USE A '#!' in front of value to overwrite instead of default behavior of appending values to existing
        GS_MAYA_REND_PREFIX: '#!<gs_shot>/<Scene>/<Layer>/<Scene>_<layer>.'
        GS_MAYA_LAYERMODE: '#!legacy'
      modules:
        advancedSkeleton: '5.250'
        #animschoolpicker: '1.4.6'
        #arnold: '1.3.0.0'
        bonustools: '17.0.1'
        #crate: '1.1.148'
        fracturefx: '1.9.6'
        fumefx: '4.0.3'
        ideform: '1.5.1'
        elementacular: '1.5.0'
        #jfDielectric: '1.0.5'
        krakatoa: '2.6.2'
        #nimbletools: '1.2.1'
        be_openvdb: '1.0'
        #ornatrix: '1.1.3.9340'
        phoenixfd: '3.03.00'
        realflow: '2015.0.0.9'
        redshift: '2.0.70'
        slib: '2.02'
        studiolibrary: '1.26.2'
        substance: '1.2.2.0'
        vray: '3.40.06'
    houdini:
      version: '15.5.523'
    3dsmax:
      version: '2016'
    cinema4d:
      version: 'R17.048'
    modo:
      version: '901_SP2'
    zbrush:
      version: '4R7'
    mudbox:
      version: '2016'
    mari:
      version: '2.6v5'
    nuke:
      version: '9.0v7'
    aftereffects:
      version: 'CC 2015'
    premiere:
      version: 'CC 2015.3'
    photoshop:
      version: 'CC 2015.5'
    animate:
      version: 'CC 2015.2'
    indesign:
      version: 'CC 2015'
    illustrator:
      version: 'CC 2015.3'
  display_groups:
    Design:
    - photoshop
    - illustrator
    - indesign
    - aftereffects
    - cinema4d
    - modo
    generalist:
    - maya
    - cinema4d
    - modo
    - 3dsmax
    - zbrush
    - mudbox
    - mari
    - nuke
    - aftereffects
    - photoshop
    - premiere
    - houdini-indie
    Compositing:
    - nuke
    - nuke-x
    - nuke-studio
    - aftereffects
    - premiere
    - photoshop
    2D_Production:
    - illustrator
    - aftereffects
    - premiere
    - photoshop
    - animate
    3D_Production:
    - maya
    - nuke
    - modo
    - zbrush
    - mudbox
    - mari
    - photoshop
  order:
  - maya
  - cinema4d
  - modo
  - 3dsmax
  - zbrush
  - mudbox
  - mari
  - nuke
  - aftereffects
  - photoshop
  - premiere
  - houdini

default:
  title: 'Default'
  packages:
    maya:
        version: '2016.5'
        soup: '2016.10.08'
        #zync: '1.2.5'
    maya2015:
      title: 'Maya 2015'
      app: 'maya'
      version: '2015'
      env:
        GS_MAYA_REND_PREFIX: '#!<gs_shot>/<Scene>/<Layer>/<Scene>_<Layer>.'
      modules:
        advancedSkeleton: '5.250'
        #animschoolpicker: '1.4.6'
        #arnold: '1.3.0.0'
        bonustools: '17.0.1'
        crate: '1.1.148'
        elementacular: '1.5.0'
        #crate: '1.1.148'
        fracturefx: '1.9.6'
        fumefx: '4.0.3'
        ideform: '1.5.1'
        elementacular: '1.5.0'
        #jfDielectric: '1.0.5'
        krakatoa: '2.6.2'
        #nimbletools: '1.2.1'
        be_openvdb: '1.0'
        #ornatrix: '1.1.3.9340'
        phoenixfd: '3.03.00'
        realflow: '2015.0.0.9'
        redshift: '2.0.70'
        slib: '2.02'
        studiolibrary: '1.26.2'
        substance: '1.2.2.0'
        vray: '3.40.06'
        soup: '2016.10.08'
        #zync: '1.2.5'
    houdini:
      title: 'Houdini'
      app: 'houdini'
      version: '15.5.607'
    3dsmax:
      title: '3DS Max'
      app: '3dsmax'
      version: '2016'
    cinema4d:
      title: 'Cinema 4D'
      app: 'cinema4d'
      version: 'R18'
      modules:
        qcmds: '0.21'
        x-particles: '3.5.0391'
        octane: '3.03.2'
        redshift: '2.0.83'
    modo:
      title: 'Modo 901'
      app: 'modo'
      version: '901_SP2'
    zbrush:
      title: 'ZBrush 4R7'
      app: 'zbrush'
      version: '4R7'
    mudbox:
      title: 'Mudbox'
      app: mudbox
      version: '2016'
    mari:
      title: 'Mari 2.6'
      app: 'mari'
      version: '2.6v5'
    nuke:
      title: 'Nuke'
      app: 'nuke'
      version: '10.0v5'
    aftereffects:
      title: 'AE 2015'
      app: 'aftereffects'
      version: 'CC 2015'
    premiere:
      title: 'PR 2015'
      app: 'premiere'
      version: 'CC 2015.3'
    photoshop:
      title: 'PS 2015'
      app: 'photoshop'
      version: 'CC 2015.5'
    animate:
      title: 'AN 2015'
      app: 'animate'
      version: 'CC 2015.2'
    indesign:
      title: 'ID 2015'
      app: 'indesign'
      version: 'CC 2015'
    illustrator:
      title: 'AI 2015'
      app: 'illustrator'
      version: 'CC 2015.3'
    pythonshell:
      title: 'Python Shell'
      app: 'pythonshell'
      version: '2.7'
    muster:
      title: 'Muster'
      app: 'muster'
      version: '7.0'
  display_groups:
    Design:
    - photoshop
    - illustrator
    - indesign
    - aftereffects
    - cinema4d
    - modo
    Generalist:
    - maya
    - cinema4d
    - modo
    - 3dsmax
    - zbrush
    - mudbox
    - mari
    - nuke
    - aftereffects
    - photoshop
    - premiere
    - houdini-indie
    Compositing:
    - nuke
    - nuke-x
    - nuke-studio
    - nuke-assist
    - aftereffects
    - premiere
    - photoshop
    2D_Production:
    - illustrator
    - aftereffects
    - premiere
    - photoshop
    - animate
    3D_Production:
    - maya
    - nuke-assist
    - nuke
    - modo
    - zbrush
    - mudbox
    - mari
    - photoshop
    Utilities:
    - muster
    - pythonshell
