

QWidget {
    background-color: #252525;
    color: #97a0a5;
    selection-background-color: #ebebeb;
}

QGroupBox {
    border:0px;
    font-size: 20px;
    font-family: "Myriad Pro";
    font-style: bold;

}

QGroupBox#lblGroup {
    background: #484848;
    border:0px;
    border-radius: 10px;
    margin: 0px 0px 0px 0px;
    padding: -5px -5px -5px -5px;
    font-size: 12px;
}
QScrollBar:vertical {
    border: 0px solid grey; 
    border-radius: 4px;
    background: #484848;
    width: 8px; 
    margin: 0px 0px 0 0px; 
}
QScrollBar:handle {
    border: 0px solid grey; 
    border-radius: 4px;
    background: #97a0a5;
    width: 10px; 
    margin: 0px 0px 0 0px;
}
QScrollBar::add-line:horizontal {
    border-radius: 10px;
}
QScrollBar::sub-line:horizontal {
    border-radius: 10px;
}
QScrollBar::sub-page:vertical {
    background: #484848;
    border-radius: 10px;
}

QScrollBar::add-page:vertical {
    background: #484848;
    border-radius: 10px;
}

QFrame#launcherAppFrame {
    padding-top: 7 7px;
    border: transparent;
    border-radius: 10px;
    margin: 5px 20px 20px 5px; 
}

QComboBox {
    font: 18pt;
    color: #97a0a5;
    background-color: #484848;
    selection-background-color: #f62375;
    border: 0px solid #282828;
    border-radius: 10px;
    padding: 0px 0px 0px 10px;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    color: #97a0a5;
    width: 40px;
    border-left-width: 1px;
    border-left-color: #f1f1f1;
    border-left-style: solid; /* just a single line */
    border-top-right-radius: 10px; /* same radius as the QComboBox */
    border-bottom-right-radius: 10px;
}
QComboBox QAbstractItemView {
    background-color: #484848;
    padding: 4px 0px 6px 8px;
    border: 0px;
    border-radius: 10px;
    selection-background-color: #f62375;
    background-attachment: scroll;
    outline:none;
}
QComboBox::down-arrow
{
    image: url(res/dropdown.png);
    width: 16px;
    height: 16px;
}
QAbstractScrollArea {
    background: transparent;
}
QPushButton {
        background-color: #333333;
        font: bold 10pt;
        font-style:bold;
        text-align: center;
        selection-background-color: #ebebeb;
        border: none; /* no border for a flat push button */
        border-radius: 15px;
        padding: 8px 18px 8px 8px;
}
PushButton:hover {
   background-color: #444444;
}
PushButton:pressed  {
   background-color: #383838;
}
QLineEdit {
    font: 18pt;
    color: #97a0a5;
    background-color: #484848;
    selection-background-color: #f62375;
    selection-color: #484848;
    border: 0px solid #282828;
    border-radius: 10px;
    padding: 0px 0px 0px 10px;
}
QSpinBox {
    buttonSymbols: false;
    font: bold 10pt;
    color: #f3f3f3;
    font-style:bold;
    background-color: #484848;
    selection-background-color: #f62375;
    selection-color: #333333;
    border: 1px solid #282828;
    border-radius: 2px;
    padding: 5px 5px 5px 5px;
}
QLabel {
    background: transparent;
    font: 16pt;
    color: #cdcdcd;
    outline:none;
    padding: 0px 5px 0px 10px;
}
QListWidget {
    border: transparent;
    font-size:11pt;
    font-style:bold;
    outline:none;

}
QListWidget::item {
    color: #97a0a5;
    selection-background-color: #ebebeb;
    font-style: bold;
    border-bottom-width: 3px;
    border-bottom-style: transparent;
    border-bottom-color: #ebebeb;

}
QListWidget::item:selected {
    color:#484848;
    outline:none;
    background-color: #f62375;
    border-radius: 5px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #f62375;

}
QListWidget::item:disabled {


}
QListWidget::item::pressed  {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                           stop: 0 #000000, stop: 1 #111111);
}
QGridLayout {
    background-color: #101010;
}
QTreeView {
    border: transparent;
    alternate-background-color: #292929;
    font-size:11pt;
    font-style:bold;
    outline:none;

}
QTreeView::item {
    font: 18pt;
    color: #97a0a5;
    selection-background-color: #ebebeb;
    font-style: bold;
    border-bottom-width: 3px;
    border-bottom-style: transparent;
    border-bottom-color: #ebebeb;

}
QTreeView::item:selected {
    color:#282828;
    outline:none;
    background-color: #f62375;
    border-radius: 5px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #f62375;

}
